<nav>
  <ul class="sidebar-nav">
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
      <a href="/admin">Admin Home</a>
    </li>
    <li>
      <a href="/admin/accounts">All Accounts</a>
    </li>
    <li>
      <a href="/admin/users">All Users</a>
    </li>
    <li>
      <a href="/admin/homes">All Homes</a>
    </li>
    <hr />
    <li>
      <a href="/admin/account/create">Create New Account</a>
    </li>
    <li>
      <a href="/admin/user/create">Create New User</a>
    </li>
    <li>
      <a href="/admin/home/create">Create New Home</a>
    </li>
  </ul>
</nav>
