<nav>
  <ul class="sidebar-nav">
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
      <a href="/admin">Admin Home</a>
    </li>
    <li>
      <a href="/admin/accounts">All Accounts</a>
    </li>
    <li>
      <a href="/admin/users">All Users</a>
    </li>
    <li>
      <a href="/admin/homes">All Homes</a>
    </li>
    <li>
      <a href="/admin/interiorinfos">All Interior Infos</a>
    </li>
    <li>
      <a href="/admin/propertyinfos">All Property Infos</a>
    </li>
    <li>
      <a href="/admin/communityinfos">All Community Infos</a>
    </li>
    <hr />
    <li>
      <a href="/admin/accounts/create">Create New Account</a>
    </li>
    <li>
      <a href="/admin/users/create">Create New User</a>
    </li>
    <li>
      <a href="/admin/homes/create">Create New Home</a>
    </li>
    <li>
      <a href="/admin/interiorinfos/create">Create New Interior Info</a>
    </li>
    <li>
      <a href="/admin/propertyinfos/create">Create new Property Info</a>
    </li>
    <li>
      <a href="/admin/communityinfos/create">Create New Community Info</a>
    </li>
  </ul>
</nav>
