body {
  padding: 50px;
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

/* Nav styles */
.row {
  display: flex;
}
nav {
  padding-right: 50px;
}

nav ul {
  list-style-type: none;
}
/*  */

/* Main styles */
main {
}
