body {
  padding: 50px;
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

/* Nav styles */
.row {
  display: flex;
}
nav {
  padding-right: 50px;
}

nav ul {
  list-style-type: none;
}
/*  */

/* Main styles */
main {
  flex: 3;
}

.home-preview {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px lightskyblue;
}

.facts-section {
  background-color: rgb(0 191 255 /25%);
  padding: 1px 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.facts-section-subheading {
  text-align: center;
  background-color: azure;
  padding: 2px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  display: block;
  margin: 7px 0;
  height: 25px;
  width: 70%;
}

form > button {
  background-color: #00b7ff;
  color: white;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  font-size: medium;
}

.utilities-section {
  padding-left: 8px;
}
